PORT=5000
# Substitua <db_password> abaixo pela senha do seu usuário do MongoDB Atlas
MONGO_URI=mongodb+srv://aprastreamentodeveiculos_db_user:<db_password>@aprastreamento.ywhewlv.mongodb.net/ap_rastro?retryWrites=true&w=majority&appName=aprastreamento
